<template>
  <div>
    <!-- <button type="submit" class="my-button">My button</button> -->
    <!-- <button :type="type" class="my-button" v-text="text"></button> -->
    <!-- <button :type="type" class="my-button" v-text="test"></button> {"name":"uday"}-->
    <button :type="type" class="my-button" v-text="test.name"></button>
  </div>
  <!-- <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">Example Component</div>

          <div class="card-body">I'm an example component.</div>
        </div>
      </div>
    </div>
  </div> -->
</template>

<script>
export default {
  mounted() {
    console.log("Component mounted.");

    axios.post("api/vue", {}).then((response) => {
      this.test = response.data;
    });
  },
  data: function () {
    return {
      test: null,
    };
  },
  props: ["text", "type"],
};
</script>

<style>
.my-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}
</style>